body{
    background-color:rgb(228, 225, 225);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
h1{
    font-family: monospace;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.788);
    padding: 15px;
    margin-bottom: 100px;
    border-color: rgba(0, 0, 0, 0.788);
    background-color:rgb(170, 151, 255);
    border-style: solid;
}
div{
    display: flex;
}
#calculator{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.788);
    margin-bottom: 100px;
}
#display{
    background-color: snow;
    color: black;
    border-radius: 12px;
    width: 630px;
    min-height: 50px;
    justify-content: flex-end;
    padding-right: 25px;
    padding-left: 25px;
    align-items: center;
    font-size: 28px;
    margin: 15px;
    font-family:monospace;
}
button{
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.788);
    border-radius: 5px;
    font-size: 35px;
    padding: 30px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    background-color: snow;
    color: rgba(0, 0, 0, 0.788);
    width: 80px;
    height: 80px;
    justify-content: center;
    align-content: center;
}
#buttonbox1{
    width: 240px;
    margin: 5px;
    margin-left: 0;
    flex-wrap: wrap;
    align-content: flex-start;
}
#buttonbox1>button{
    width: 240px;
    background-color:rgb(157, 255, 206);
    color: rgba(0, 0, 0, 0.788);
}
#buttonbox1>button:hover{
    background-color: springgreen;
    color: rgba(0, 0, 0, 0.788);
}
#buttonbox2{
    width: 240px;
    margin: 5px;
    flex-wrap: wrap;
}
#buttonbox3{
    width: 160px;
    margin: 5px;
    margin-left: 0;
    flex-wrap: wrap;
}
#buttonbox3>button{
    width:80px;
    color: black;
    background-color: rgb(170, 151, 255);
}
#buttondot{
    color: black;
    background-color: rgb(170, 151, 255);
}
#buttonbox3>button:hover{
    background-color: rgb(110, 78, 255);
    color: black;
    width:80px;
}
#buttondot:hover{
    background-color: rgb(110, 78, 255);
    color: black;
}
#buttonadd{
    height: 160px;
}
#buttonsubtract{
    height: 160px;
}
#button0{
    width: 160px;
}
button:hover{
    background-color:gainsboro ;
    color: rgba(0, 0, 0, 0.788);
}